:root {
	--background: #1d4ed8;
	--primary: #1d4ed8;
	--secondary: #8ca3e5;
	--third: #e27fcb;
}

@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');


*{
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
    box-sizing: border-box;
}

img{
    width: 100%;
    display: flex;
}

a{
    text-decoration: none;
}

body{
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    background-color: #e3e1dd;
}

nav{
    max-width: 1200px;
    margin: auto;
    padding: 2rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    font-size: 17px;
}

.nav-logo{
    max-width: 100px;
}

.nav-links{
    list-style: none;
    display: flex;
    gap: 3rem;
    align-items: center;
}

.link a{
    position: relative;
    padding-bottom: 0.75rem;
    color: #20343f;
    font-weight: 700;
}

.link a::after{
    content: "";
    position: absolute;
    height: 4px;
    width: 0;
    bottom: 0;
    left: 0;
    background-color: #1d4ed8;
    border-radius: 15px;
    transition: all 0.3s ease;
    
}

.link a:hover::after{
    width: 80%;
}

.btn {
    background: #13389e;
    border-radius: 15px;
    border: none;
    padding: 0;
    cursor: pointer;
    font-family: 'Quicksand', sans-serif;
  }
.front {
    display: block;
    padding: 12px 42px;
    border-radius: 15px;
    font-size: 1.25rem;
    background: #1d4ed8;
    color: white;
    font-size: 20px;
    font-weight: 700;
    transform: translateY(-7px);
}

.front {
    will-change: transform;
    transition: transform 250ms;
}

.btn:hover .front {
    transform: translateY(-8px);
}
  
.btn:active .front {
    transform: translateY(-5px);
}

.container{
    max-width: 1200px;
    margin: auto;
    padding: 5rem 2rem;
}

header{
    position: relative;
    padding-top: 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2rem;
    color: #20343f;
}

.avatar{
    background: linear-gradient(45deg, var(--primary) 0%, var(--secondary) 100%);
    animation: morph 8s ease-in-out infinite;
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    height: 400px;
    transition: all 1s ease-in-out;
    width: 400px;
    z-index: 5;
}

.image {
    align-items: center;
    display: flex;
    /*height: 50vh;*/
    justify-content: center;
  }
  
.shape {
    background: linear-gradient(50deg, var(--primary) 50%, var(--secondary) 50%);
    animation: morph 8s ease-in-out infinite;
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    height: 400px;
    transition: all 1s ease-in-out;
    width: 400px;
    z-index: 5;
  }
  
@keyframes morph {
    0% {
        border-radius:  60% 40% 30% 70% / 60% 30% 70% 40%;
    } 
      
    50% {
        border-radius:  30% 60% 70% 40% / 50% 60% 30% 60%;
    }
    
    100% {
        border-radius:  60% 40% 30% 70% / 60% 30% 70% 40%;

    } 
}

header .content h1 span{
    color: #1d4ed8;
}

.social{
    width: 80px;
    transition: 0.3s ease;
}

.social:hover{
    transform: translateY(-8px);
}

.social_icons{
    position: relative;
    top: 50%;
    left: 60%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    margin-bottom: 10px;
}


.websiteL{
    max-width: 1200px;
    position: relative;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 60px;
}

.websiteL img{
    clear: right;
    width: 90%;
    border-radius: 15px;
    transition: 0.5s ease;
}

.websiteL img:hover{
    width: 95%;
}

.websiteL h1{
    margin-bottom: 10px;
    text-align: center ;
    font-size: 50px;
    color: #20343f;
}

.websiteL p{
    color: #20343f;
    text-align: center;
    margin-bottom: 50px;

}

.text a{
    position: relative;
    color: #20343f;
    text-align: center;
    display: block;
    font-size: 30px;
    margin-left: 50px;
    transition: 0.3s ease;
}

.text a:hover{
    font-size: 35px;
}

.project h1{
    color: #20343f;
    text-align: center;
    margin-bottom: 50px;
    font-size: 50px;
}

.websiteR{
    max-width: 1200px;
    position: relative;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 60px;
}

.websiteR img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    border-radius: 15px;
    transition: 0.5s ease;
}

.websiteR img:hover{
    width: 95%;
}


.websiteR h1{
    margin-bottom: 10px;
    text-align: center ;
    font-size: 50px;
    color: #20343f;
}

.websiteR p{
    color: #20343f;
    text-align: center;
    margin-bottom: 50px;

}

footer{
    text-align: center;
    color: #20343f;
    margin-top: 100px;
    margin-bottom: 50px;
}